/* slider */

.img-li {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 30px;
}
.splide{
    height: 450px;
}

/* header */

.bgcolor{
    background-color: #ffffff;
    border-bottom: 1px solid lightgoldenrodyellow;
}
.bg-img{
    background-image: url(../img/imgCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 39.8rem;
    z-index: 100;
}
#header{
    background-color: #ffffff;
    width: 100%;
    height: 39.8rem;
    transition: all 0.4s
}
.div-wraper{
    position: fixed;
    z-index: 100;
    width: 100%;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.img-logo{
    width: 100px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link::after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: dodgerblue;
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: all 2S linear;
}
.nav-link:hover::after{
    width: 100%;
}
.nav-link{
    transition: 0.7s ease;
    position: relative;
    color: #F7EEDC;
}
.nav-link.active{
    color: dodgerblue;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #262626;
}
.nav-item{
    margin-right: 30px;
}
.img-cover{
    width: 100%;
    object-fit: cover;
    display: block;
    height: 39.8rem;
}


@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-link::after{
        height: 1px;
    }
}

/* header bg & on scroll */

.new-header{
    background-color: green;
}
.nav-color{
    color: #ffffff;
}

/* to do list */

.section-bg2{
    background-color: #F7FFFF;
    padding: 50px 0;
}

.title-h2{
    text-align: center;
    margin: 30px 0;
    color: #262626;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 1px #F7EEDC;
}
.fa-square-plus{
    font-size: 30px;
    color: #ffffff;
}
.fa-square-plus:hover{
    color: #F7EEDC;
}
  .button,#addButton,#removeAll {
    margin-left: 10px;
    width: 80px;
    height: 60px;
    border: 0.5px solid gray;
    background-color: #F7EEDC;
    border-radius: 30%;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
  }
  #addButton:hover {
    background-color: #ffffff;
    border: 2px solid gray
  }
  #removeAll:hover{
    color: #F7EEDC;
    border: 2px solid gray;
    background-color: #ffffff;
  }
  .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    border: 5px solid gray;
  }
  #ul li {
    margin-right: 100px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
  }
  .delete-icon-pub{
    width: 30px;
  }
  .li-pub{
    width: 100px;
    height: 100px;
    background-color: #4070f4;
  }

@media(max-width:1024px) {
    .input {
        width: 400px;
        height: 45px;
        font-size: 25px;
        border: 4px solid gray;
      }
      .button,#addButton,#removeAll {
        margin-left: 10px;
        width: 60px;
        height: 50px;
        border: 0.5px solid gray;
        background-color: #B6FAFA;
        border-radius: 25%;
        font-size: 14px;
      }
      .fa-square-plus{
        font-size: 25px;
    }
    .title-h2{
        font-size: 28px;
    }
}
@media(max-width:768px) {
    .input {
        width: 300px;
        height: 35px;
        border-radius: 4px;
        font-size: 20px;
        border: 3.5px solid gray;
      }
      .button,#addButton,#removeAll {
        margin-left: 10px;
        width: 50px;
        height: 30px;
        background-color: #B6FAFA;
        border-radius: 20%;
        font-size: 12px;
      }
      .fa-square-plus{
        font-size: 20px;
    }
    .title-h2{
        margin: 30px 0;
        font-size: 24px;
        text-shadow: 1px 0.5px #0FD4D4;
    }
    .delete-icon-pub{
        width: 20px;
      }
}
@media(max-width:480px) {
    .input {
        width: 190px;
        height: 28px;
        border-radius: 3.5px;
        font-size: 12px;
        border: 3px solid gray;
      }
      .button,#addButton,#removeAll {
        width: 40px;
        height: 25px;
        border-radius: 18%;
        font-size: 10px;
      }
      .fa-square-plus{
        font-size: 14px;
    }
    .title-h2{
        font-size: 20px;
    }
    .delete-icon-pub{
        width: 16px;
      }
}

/* next & previous */

.next-previous-title{
    color: #262626;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    text-shadow: 2px 1px #0FD4D4;
    cursor: pointer;
}
.next-previous-title:hover{
    text-decoration: underline;
}
.ul-list{
    display: flex;
    justify-content: space-around;
}
.ul-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #262626;
    font-size: 18px;
    text-align: center;
}
.section-bg{
    background-color: #F7EEDC;
    padding: 50px 0;
    text-align: center;
}
.img-size{
    width: 130px;
    margin-top: 15px;
    border-radius: 15px;
}
.button1,.button2{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    outline: 0;
    border: solid 2px gray;
    color: gray;
}

@media(max-width:1024px) {
    .img-size{
        width: 100px;
        margin-top: 15px;
        border-radius: 15px;
    }
    .button1,.button2{
        width: 170px;
        height: 35px;
        border-radius: 15px;
        margin-top: 30px;
        cursor: pointer;
        outline: 0;
        border: solid 2px gray;
        color: gray;
    }
    .next-previous-title{
        color: #262626;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 30px;
        text-shadow: 2px 1px #0FD4D4;
        cursor: pointer;
    }
    .ul-li{
        font-size: 15px;
    }
}
@media(max-width:768px) {
    .img-size{
        width: 60px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .button1,.button2{
        width: 130px;
        height: 25px;
        border-radius: 15px;
        margin-top: 20px;
        font-size: 12px;
    }
    .next-previous-title{
        color: #262626;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
        text-shadow: 2px 1px #0FD4D4;
    }
    .ul-li{
       font-size: 12px;
    }
}
@media(max-width:480px) {
    .img-size{
        width: 40px;
        margin-top: 8px;
        border-radius: 8px;
    }
    .button1,.button2{
        width: 100px;
        height: 20px;
        border-radius: 12px;
        margin-top: 16px;
    }
    .next-previous-title{
        color: #262626;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 16px;
        text-shadow: 1px 0.5px #0FD4D4;
    }
    .ul-li{
       font-size: 8px;
    }
}

/* accordion*/

.accordion-section{
    background-color: #F7EEDC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}
.accordion {
    background-color: white;
    padding-left: 20px;
    width: 80%;
  }

  .accordion-item {
    padding-right: 10px;
  }
  .accordion-header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.535);
  }
  .accordion-button {
    width: 100%;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  
    cursor: pointer;
    background-color: white;
  }
  .accordion-button:hover{
    background-color: #F7EEDC;
  }
  img {
    width: 30px;
  }
  .none {
    display: none;
  }

  .span-accordion{
    color: red;
  }
  .span-accordion:hover{
    color: #ffffff;
  }

  @media(max-width:1024px) {
    .accordion-section{
        height: 80vh;
    }
}
@media(max-width:768px) {
    .accordion-section{
        height: 115vh;
    }
}
@media(max-width:480px) {
    .accordion-section{
        height: 185vh;
    }
}


/* cookies */


.wrapper{
    position: fixed;
    top: 200px;
    right: -370px;
    max-width: 345px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    z-index: 2000;
}
.wrapper.show{
    right: 20px;
}
.div-wrapper{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.fa-cookie-bite{
    color: #267798;
    font-size: 32px;
}
.title-cookies{
    color: #267798;
    font-weight: 500;
    font-size: 32px;
}
.data{
    color: #333;
    font-size: 16px;
    margin-top: 16px;
}
.data a{
    color: #267798;
}
.data a:hover{
    text-decoration: underline;
}
.buttons{
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonAcc{
    border: none;
    color: #fff;
    width: calc(100% / 2 - 10px);
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    background: #4070f4;
    transition: all 0.2s ease;
}
.buttonAcc:hover{
    background-color: #267798;
}


/* regisrtration html form */

.eye-close{
    width: 25px;
    cursor: pointer;
}
.input-box,.username,.email{
    max-width: 500px;
    width: 90%;
    height: 60px;
    border-radius: 5px;
    border: 5px solid beige;
    display: flex;
    align-items: center;
    padding: 5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 24px;
}
.username input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 24px;
}
.email input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 24px;
}
.check{
   width: 350px;
   font-size: 14px;
   text-align: center;
}
#form-validation{
    max-width: 1000px;
    width: 90%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 1.5px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#submit{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: beige;
    cursor: pointer;
    outline: none;
    border: 1.5px solid gray;
    background-color: #0FD4D4;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
.radio1,.radio2,.agree{
    color: gray;
    font-size: 18px;
}
.error-text {
    color: red;
}


/* scroll up */

#scrollup{
    background-color: green;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}
#scrollup-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;

}
html{
    scroll-behavior: smooth;
}

/* filter &  footer */

  .footer-bg{
    height: 500px;
    width: 100%;
    background-color: #262626;
    position: relative;
  }

.search {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    top: 30px;
    left: 20px;
    border: 1px;
    padding: 5px;
    outline: none;
    color: #E3FFFF;
  }
  .search:focus {
    color: #7D7D7D;
  }
  .li-items {
    font-size: 18px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    display: none;
    border: 1px solid red;
    background-color: #7D7D7D;
    padding: 10px;
    color: #fff;
  }
  .li-items:hover {
    background-color: #E3FFFF;
    color: red;
    border: none;
  }
  .li-items.active {
    display: block;
  }
  .wraper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #list{
    margin-top: 100px;
    margin-right: 100px;
  }


  .div-menu{
    position: absolute;
    bottom: 150px;
    left: 20px;
  }
  .ul-menu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 25px;
  }
  .te-git{
    color: #ffffff;
  }
  .git-div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }
  .iframe{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 450px; 
    height: 280px;
  }
  .logo-rc{
    width: 30px;
  }
  .div-rc{
    position: absolute;
    width: 100px;
    bottom: 10px;
    left: 20px;
    display: flex;
    justify-content: space-between;
  }

  @media(max-width:1024px) {
    .iframe{
        width: 340px; 
        height: 250px;
      }
      .search {
        max-width: 360px;
        width: 100%;
        height: 50px;
        font-size: 25px;
      }
      .div-menu{
        position: absolute;
        bottom: 100px;
        left: 20px;
      }
  }
  @media(max-width:768px) {
        .ul-menu{
            row-gap: 10px;
        }
        .search {
            max-width: 360px;
            width: 100%;
            height: 50px;
            font-size: 20px;
        }
        .iframe{
            position: absolute;
            top: 100px;
            left: 20px;
            width: 90%; 
            height: 260px;
            margin-top: 60px;
        }
        .div-menu{
            display: none;
        }
        #list{
            display: flex;
            margin-right: 8px;
        }
        .li-items{
            font-size: 12px;
        }
  }
  @media(max-width:480px) {
        .te-git{
            font-size: 10px;
        }
        .search {
            max-width: 280px;
            width: 100%;
            height: 40px;
            font-size: 16px;
        }
        #list{
            display: flex;
        }
        .li-items{
            font-size: 7px;
        }
        .div-rc{
            display: none;
        }
  }